<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <h:form id="frm">

            <h:outputText value="Propietario"/>



            <p:dataTable id="tbl" value="#{frmPropietario.lazyModel}" var="t"
                         lazy="true" rows="5" paginator="true" selectionMode="single"
                         paginatorPosition="bottom"
                         rowsPerPageTemplate="5,10,15"
                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                         selection="#{frmPropietario.registro}"
                         sortBy="#{t.idPropietario}"
                         >
                <p:ajax event="rowSelect" listener="#{frmPropietario.onRowSelect}" update=":frm2" />



                <p:column headerText="Id">
                    <h:outputText  value="#{t.idPropietario}"/>
                </p:column>
                <p:column headerText="nombre">
                    <h:outputText  value="#{t.nombre}"/>
                </p:column>
                <p:column headerText="apellido">
                    <h:outputText  value="#{t.apellido}"/>
                </p:column>

                <p:column headerText="telefono">
                    <h:outputText  value="#{t.telefono}"/>
                </p:column>


                <p:column headerText="Direccion">
                    <h:outputText  value="#{t.direccion}"/>
                </p:column>

            </p:dataTable>

        </h:form>


        <h:form id="frm2">


            <p:panelGrid columns="2" rendered="#{frmPropietario.estado!='NONE'}">
                ID<p:inputText id="txtID" immediate="true" value="#{frmPropietario.registro.idPropietario}" required="true" requiredMessage="Agrege un IDENTIFICADOR " />

                Nombre <p:inputText id="txtnombre" immediate="true" value="#{frmPropietario.registro.nombre}" required="true" requiredMessage="Agrege un nombre " />
                Apellido <p:inputText id="txtapellido" immediate="true" value="#{frmPropietario.registro.apellido}" required="true" requiredMessage="Agrege un apellido " />
                Telefono <p:inputText id="txtTelefono" immediate="true" value="#{frmPropietario.registro.telefono}" required="true" requiredMessage="Agrege un numero de telefono" />
                direccion <p:inputText id="txtDireccion" immediate="true" value="#{frmPropietario.registro.direccion}" required="true" requiredMessage="Agrege una direccion" />

            </p:panelGrid>



            <p:commandButton  value="Agregar" rendered="#{frmPropietario.estado=='NUEVO'}" actionListener="#{frmPropietario.crear()}" 
                              ajax="true" update="frm2 :frm"/>

            <p:commandButton value="Cancelar" rendered="#{frmPropietario.estado!='NONE'}" actionListener="#{frmPropietario.btncancelarHandler()}" 
                             immediate="true" resetValues="true" ajax="true" update="frm2 :frm" process="@this"/>      

            <p:commandButton value="Editar"  actionListener="#{frmPropietario.modificar()}" rendered="#{frmPropietario.estado!='NONE' and cc.attrs.backingBean.estado!='NUEVO' }"
                             ajax="true" update="frm2 :frm" />      

            <p:commandButton  value="Eliminar"  actionListener="#{frmPropietario.eliminar()}" rendered="#{frmPropietario.estado!='NONE' and cc.attrs.backingBean.estado!='NUEVO'}"
                              ajax="true" update="frm2 :frm" />   

            <p:commandButton  value="Nuevo"  actionListener="#{frmPropietario.btnNuevoHandler()}" rendered="#{frmPropietario.estado=='NONE'}"
                              ajax="true" update="frm2 :frm" /> 

        </h:form>


    </h:body>
</html>

